﻿@model Frontend.Models.DetalleEntregaViewModel

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Agregar detalle de entrega</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                                @Html.Label("Pedido")
                                @Html.DropDownListFor(model => model.Pedidos, new SelectList(Model.Pedidos, "PedidoID", "NumeroPedido"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Pedido, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Cantidad Paquetes")
                            @Html.Editor("Paquetes", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Total Unidades")
                            @Html.Editor("Cantidad", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-3">
                            <HR width="0%">
                            <input id="btnConsultar" type="button" class="btn btn-primary" value="Añadir" onclick="AgregarDetalle();" />
                        </div>
                    </div>
                    <br>

                </div>
                <h5>Detalle de entrega</h5>
                <table class="table compact" id="TableDetalleEntrega">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Pedido")
                            </th>
                            <th>
                                @Html.DisplayName("Paquetes")
                            </th>
                            <th>
                                @Html.DisplayName("Cantidad")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
