﻿@model Backend.Entities.sp_GraficoPedidos_Result

<script src="~/HIghCharts/highcharts.js"></script>
<script src="~/HIghCharts/exporting.js"></script>
<script src="~/HIghCharts/export-data.js"></script>
<script src="~/HIghCharts/accessibility.js"></script>
<script src="~/HIghCharts/variable-pie.js"></script>
<div>
<figure class="highcharts-figure">
    <div id="container"></div>
   
</figure>
</div>
<script>

    Highcharts.chart('container', {
        chart: {
            type: 'variablepie'
        },
        title: {
            text: 'Pedidos del mes actual'
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                'Cantidad de pedidos: <b>{point.y}</b><br/>'
        },
        series: [{
            minPointSize: 50,
            innerSize: '40%',
            zMin: 0,
            name: 'countries',
            data: [{
                name: 'Terminados',
                y: @Model.PedidosTerminados
            }, {
                name: 'Proceso',
                y: @Model.PedidosProceso
            }, {
                name: 'Pendientes',
                y: @Model.PedidosPendientes
            }]
        }]
    });

</script>