﻿@model Frontend.Models.GraficoParetoViewModel

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/pareto.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="ParettoMerma"></div>

</figure>
<script>


    Highcharts.chart('ParettoMerma', {
        chart: {
            renderTo: 'container',
            type: 'column'
        },
        title: {
            text: 'Merma de producción total'
        },
        tooltip: {
            shared: true
        },
        xAxis: {

            categories : @Html.Raw(Json.Encode(ViewBag.Lista))

            ,
            crosshair: true
        },
        yAxis: [{
            title: {
                text: ''
            }
        }, {
            title: {
                text: ''
            },
            minPadding: 0,
            maxPadding: 0,
            max: 100,
            min: 0,
            opposite: true,
            labels: {
                format: "{value}%"
            }
        }],
        series: [{
            type: 'pareto',
            name: 'Pareto',
            yAxis: 1,
            zIndex: 10,
            baseSeries: 1,
            tooltip: {
                valueDecimals: 2,
                valueSuffix: '%'
            }
        }, {
            name: 'Complaints',
            type: 'column',
            zIndex: 2,
            data: [@Model.Data]
        }]
    });
</script>