﻿@model Frontend.Models.ProduccionAnualViewModel

<script src="~/HIghCharts/exporting.js"></script>
<script src="~/HIghCharts/highcharts.js"></script>
<script src="~/HIghCharts/export-data.js"></script>
<script src="~/HIghCharts/accessibility.js"></script>
<div>
    <figure class="highcharts-figure">
        <div id="container2"></div>
     
    </figure>
</div>
<script>
    Highcharts.chart('container2', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Cantidad producida mensualmente'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
        },
        yAxis: {
            title: {
                text: 'Unidades (und)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '2020',
            data: [@Model.Enero,
                @Model.Febrero,
                @Model.Marzo,
                @Model.Abril,
                @Model.Mayo,
                @Model.Junio,
                @Model.Julio,
                @Model.Agosto,
                @Model.Setiembre,
                @Model.Octubre,
                @Model.Noviembre,
                @Model.Diciembre]
        },]
    });
</script>   