﻿@{
    if (Session["userID"] == null || Session["nombreCompleto"] == null || Session["userName"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else
    {
        ViewBag.UsuarioNombre = Session["nombreCompleto"];
    }
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Sispro</title>


    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <!--
            @Styles.Render("~/Content/css")
            @Scripts.Render("~/bundles/modernizr")-->

    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Images/favicon.ico")" />
    <script src="~/Scripts/sweetalert.min.js"></script>

    <link href="~/Content/fixedwidth.css" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Sis <sup>Pro</sup></div>
            </a>-->
            @Html.ActionLink("SisPro", "Index", "Home", new { area = "" }, new { @class = "sidebar-brand d-flex align-items-center justify-content-center" })

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Clientes
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Pedidos")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Pedidos</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Entregas")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Entregas</span>
                </a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Clientes")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <!-- Heading -->
            <div class="sidebar-heading">
                Productos
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Productos")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Productos</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "MateriaPrima")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Materia Prima</span>
                </a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Proveedores")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Proveedores</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Maquinas")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Maquinas</span>
                </a>
            </li>
            <!-- Heading -->
            <div class="sidebar-heading">
                Documentos
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes" aria-expanded="true" aria-controls="collapseReportes">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Reportes</span>
                </a>
                <div id="collapseReportes" class="collapse" aria-labelledby="headingReportes" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @if (Roles.IsUserInRole("Administrador"))
                        {
                            <h6 class="collapse-header">Reportes por:</h6>
                            <a class="collapse-item" href="@Url.Action("Index", "Produccion")">Produccion</a>
                            <div class="collapse-divider"></div>
                        }
                        <h6 class="collapse-header">Generales:</h6>
                        <a class="collapse-item" href="@Url.Action("Index", "AperturaCierre")">Apertura/Cierre de Turno</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MermaPorTurno")">Reportar merma</a>
                        <a class="collapse-item" href="@Url.Action("Index", "ProduccionPaquetesCajas")">Reportar paquete/caja</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFichaTecnica" aria-expanded="true" aria-controls="collapseFichaTecnica">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Fichas Tecnicas</span>
                </a>
                <div id="collapseFichaTecnica" class="collapse" aria-labelledby="headingFichaTecnica" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Fichas Tecnicas de:</h6>
                        <a class="collapse-item" href="@Url.Action("Index", "FichaTecnicaBotella")">Botellas</a>
                        <a class="collapse-item" href="@Url.Action("Index", "FichaTecnicaTapa")">Tapas</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaquina" aria-expanded="true" aria-controls="collapseMaquina">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Variables de maquina</span>
                </a>
                <div id="collapseMaquina" class="collapse" aria-labelledby="headingMaquina" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Maquinas:</h6>
                        <a class="collapse-item" href="@Url.Action("Index", "VariablesMaquinaInyectora")">Inyectora</a>
                        <a class="collapse-item" href="@Url.Action("Index", "VariablesMaquinaSopladora")">Sopladora</a>
                    </div>
                </div>
            </li>


            @if (Roles.IsUserInRole("Administrador"))
            {<!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Heading -->
                <div class="sidebar-heading">
                    Acceso al sistema
                </div>
                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Usuarios")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
            }
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">



                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.UsuarioNombre</span>
                                <img class="img-profile rounded-circle" src="~/Images/usericon.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("MyAccount", "Home")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Mi cuenta
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesion
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!--Aqui va contenido de las views-->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SisPro @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesion?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesion" si desea salir del sistema.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    @Html.ActionLink("Cerrar Sesión", "Logout", "Login", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                 

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Scripts/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/js/demo/chart-area-demo.js"></script>
    <script src="~/Scripts/js/demo/chart-pie-demo.js"></script>
    <!--
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")


         @Scripts.Render("~/bundles/jquery")
         @Scripts.Render("~/bundles/bootstrap")

    -->

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatableespanol.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>


