﻿@model  Frontend.Models.EntregaViewModel

@{
    ViewBag.Title = "Crear entrega";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Crear</h6>
            </div>
            <div class="card-body">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @if (TempData["TipoMensaje"] != null)
                    {
                        <div class="@TempData["TipoMensaje"]">
                            <strong>@TempData["MensajeError"]</strong>
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.NumeroEntrega)
                            @Html.EditorFor(model => model.NumeroEntrega, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Fecha)
                            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.NumeroFactura)
                            @Html.EditorFor(model => model.NumeroFactura, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Cliente")
                            @Html.EditorFor(model => model.Cliente.NombreCompleto, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" , @Value = @TempData["Cliente"] } })
                        </div>
                    </div>
                    <br>
                    
                </div>
                        @if (TempData["DetalleEntrega"] != null)
                        {
                            @Html.Action("_DetalleEntrega", "DetalleEntrega", new { id = Model.Cliente.ClienteID})

                        }

                    </div>
             
                    }

                @section Scripts {

                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("/JavaScripts/tablaDetalle.js")
                }
            </div>
        </div>
    </div>
</div>
