﻿@model  Frontend.Models.EntregaViewModel

@{
    ViewBag.Title = "Detalles de entrega";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.NumeroEntrega)
                            @Html.EditorFor(model => model.NumeroEntrega, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NumeroEntrega, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Fecha)
                            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.NumeroFactura)
                            @Html.EditorFor(model => model.NumeroFactura, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NumeroFactura, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Cliente")
                            @Html.DropDownListFor(model => model.Cliente.NombreCompleto, new SelectList(Model.ClientesProduccion, "NombreCompleto", "NombreCompleto"), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>

               


                <dl class="dl-horizontal">

                    <table class="table compact" id="TableDetalleEntrega">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Pedido")
                                </th>
                                <th>
                                    @Html.DisplayName("Paquetes")
                                </th>
                                <th>
                                    @Html.DisplayName("Cantidad")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DetalleEntregas)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pedido.NumeroPedido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Paquetes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dl>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.EntregaID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>
