﻿@model IEnumerable<Frontend.Models.EntregaViewModel>

@{
    ViewBag.Title = "Lista de entregas";
}
@if (ViewBag.Message != null)
{
    <script>
        window.onload = function ()
        {
            var text = "@ViewBag.Message";


            if (text.charAt(text.length - 1) == 1) {
                swal({
                    title: "¡" + text.slice(0, -1) + "correctamente!",
                    icon: "success",
                    button: "OK",
                });

            }
            else {
                swal({
                    title: "¡" + text + "!",
                    icon: "error",
                    button: "OK",
                });

            }

        };

    </script>

}

<div class="row">
    <div class="col-lg">
        <div class="card shadow" style="padding:1%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
            </div>
            @if (TempData["TipoMensaje"] != null)
            {
                <div class="@TempData["TipoMensaje"]">
                    <strong>@TempData["Mensaje"]</strong>
                </div>
            }
            <p class="p-3">
                @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table id="listadatatable" class="table compact">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NumeroEntrega)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnidadesEntregadas)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumeroFactura)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroEntrega)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnidadesEntregadas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroFactura)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit",  new { id = item.EntregaID })" class="btn btn-success btn-circle">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="@Url.Action("Details",  new { id = item.EntregaID })" class="btn btn-info btn-circle">
                                    <i class="fas fa-info-circle"></i>
                                </a>

                                <a href="@Url.Action("Delete",  new { id = item.EntregaID })" class="btn btn-danger btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
