﻿@model Frontend.Models.AperturaCierreViewModel

@{
    ViewBag.Title = "Iniciar Apertura";
}
<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Iniciar</h6>
            </div>
            @if (TempData["TipoMensaje"] != null)
            {
                <div class="@TempData["TipoMensaje"]">
                    <strong>@TempData["Mensaje"]</strong>
                </div>
            }
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.FechaApertura, htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.EditorFor(model => model.FechaApertura, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") } })
                                    @Html.ValidationMessageFor(model => model.FechaApertura, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Turno, htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.DropDownListFor(model => model.Turno, new List<SelectListItem>
                                            {
                                               new SelectListItem{ Text="Mañana", Value = "Mañana" },
                                               new SelectListItem{ Text="Tarde", Value = "Tarde" },
                                               new SelectListItem{ Text="Noche", Value = "Noche" },
                                               new SelectListItem{ Text="Dia 12 hrs", Value = "Dia 12 hrs" },
                                               new SelectListItem{ Text="Noche 12 hrs", Value = "Noche 12 hrs" },
                                            }, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.Turno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.PedidoID, "Pedido", htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.DropDownListFor(model => model.PedidoID, new SelectList(Model.Pedidos, "PedidoID", "NumeroPedido"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PedidoID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.MaquinaID, "Maquina", htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.DropDownListFor(model => model.MaquinaID, new SelectList(Model.Maquinas, "MaquinaID", "Nombre"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaquinaID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Iniciar" class="btn btn-primary" />
                                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>

