﻿@model IEnumerable<Frontend.Models.AperturaCierreViewModel>

@{
    ViewBag.Title = "Apertura / Cierre de turnos";
}

    <div class="row">
        <div class="col-lg">
            <div class="card shadow" style="padding:1%">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                </div>
                <p class="p-3">
                    @Html.ActionLink("Abrir turno", "Create", null, new { @class = "btn btn-primary" })
                </p>
                @if (TempData["TipoMensaje"] != null)
                {
                    <div class="@TempData["TipoMensaje"]">
                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
                            <i class="nc-icon nc-simple-remove"></i>
                        </button>
                        <span>
                            @TempData["Mensaje"]
                        </span>
                    </div>

                }
                <table id="listadatatable" class="table compact">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.FechaApertura)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Turno)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PedidoID)
                            </th>
                            <th>
                                @Html.DisplayName("Maquina")
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.FechaApertura)
                                </th>

                                <th>
                                    @Html.DisplayFor(modelItem => item.Turno)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Pedido.NumeroPedido)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Maquina.Nombre)
                                </th>
                                <td>
                                    @Html.ActionLink("Cerrar turno", "CerrarTurno", new { id = item.AperturaCierreID })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



