﻿@model Frontend.Models.ProduccionPaquetesCajasViewModel

@{
    ViewBag.Title = "Reportar producto";
}


<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Crear</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @if (TempData["TipoMensaje"] != null)
                    {
                        <div class="@TempData["TipoMensaje"]">
                            <strong>@TempData["Mensaje"]</strong>
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-5" })

                                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString(), @disabled = "disabled", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Pedido, htmlAttributes: new { @class = "control-label col-md-5" })

                                @Html.DropDownListFor(model => model.Pedido, new SelectList(Model.PedidosActivos, "NumeroPedido", "NumeroPedido"), Model.Pedido.ToString(), new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Pedido, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-5" })

                                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Turno, htmlAttributes: new { @class = "control-label col-md-5" })

                                @Html.DropDownListFor(model => model.Turno, new List<SelectListItem>
                                          {
                                             new SelectListItem{ Text="Mañana", Value = "Mañana" },
                                             new SelectListItem{ Text="Tarde", Value = "Tarde" },
                                             new SelectListItem{ Text="Noche", Value = "Noche" },
                                             new SelectListItem{ Text="Dia 12 hrs", Value = "Dia 12 hrs" },
                                             new SelectListItem{ Text="Noche 12 hrs", Value = "Noche 12 hrs" },
                                          }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Turno, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Reportar producto" class="btn btn-primary" />
                            @Html.ActionLink("Lista de reportes", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>

