﻿@model Backend.Entities.ProduccionPaquetesCajas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProduccionPaquetesCajas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedidos.NumeroPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedidos.NumeroPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Identificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EtiquetaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
