﻿@model Backend.Entities.Maquinas

@{
    ViewBag.Title = "Etiqueta";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Reporte</h6>
            </div>
            <div class="card-body">
                <iframe src="~/WebForms/Etiqueta.aspx" width="100%" height="500"></iframe>
                <p>
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>




