﻿@model IEnumerable<Frontend.Models.ProduccionPaquetesCajasViewModel>

@{
    ViewBag.Title = "Reporte de producto";
}
@if (ViewBag.Message != null)
{
    <script>
        window.onload = function ()
        {
            var text = "@ViewBag.Message";


            if (text.charAt(text.length - 1) == 1) {
                swal({
                    title: "¡" + text.slice(0, -1) + "correctamente!",
                    icon: "success",
                    button: "OK",
                });

            }
            else {
                swal({
                    title: "¡" + text + "!",
                    icon: "error",
                    button: "OK",
                });

            }

        };

    </script>

}


<div class="row">
    <div class="col-lg">
        <div class="card shadow" style="padding:1%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
            </div>
            @if (TempData["TipoMensaje"] != null)
            {
                <div class="@TempData["TipoMensaje"]">
                    <strong>@TempData["Mensaje"]</strong>
                </div>
            }

            <p class="p-3">
                @Html.ActionLink("Reportar producto", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table id="listadatatable" class="table compact">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EtiquetaID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pedido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UsuarioID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Turno)
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EtiquetaID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PedidoCompleto.NumeroPedido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.NombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Turno)
                        </td>

                        <td>
                            @Html.ActionLink("Imprimir etiqueta", "Etiqueta", new { etiqueta = item.EtiquetaID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.EtiquetaID })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
