﻿@model Frontend.Models.MateriaPrimaViewModel

@{
    ViewBag.Title = "Crear materia prima";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Crear</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (TempData["TipoMensaje"] != null)
                        {
                            <div class="@TempData["TipoMensaje"]">
                                <strong>@TempData["MensajeError"]</strong>
                            </div>
                        }

                        <div class="form-group">

                            <div class="row">

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.CodigoMateriaPrima, htmlAttributes: new { @class = "control-label col-md-6 requerido" })
                                    @Html.EditorFor(model => model.CodigoMateriaPrima, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CodigoMateriaPrima, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-6 requerido" })
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ProveedorID, "Proveedor", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.DropDownListFor(model => model.ProveedorID, new SelectList(Model.Proveedores, "ProveedorID", "Nombre"), "--Seleccione--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProveedorID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.TipoMateriaPrimaID, "Tipo de Materia Prima", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.DropDownListFor(model => model.TipoMateriaPrimaID, new SelectList(Model.TipoMateriaPrimas, "TipoMateriaPrimaID", "Tipo"), "--Seleccione--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TipoMateriaPrimaID, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.UnidadMedidaID, "Unidad de Medida", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.DropDownListFor(model => model.UnidadMedidaID, new SelectList(Model.UnidadMedidas, "UnidadMedidaID", "Unidad"), "--Seleccione--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UnidadMedidaID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.PrecioUnitario, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.PrecioUnitario, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrecioUnitario, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color:red;">Los campos con * son requeridos</label>
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary" />
                                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }




                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }


            </div>
        </div>
    </div>
</div>
