﻿@model Frontend.Models.MateriaPrimaViewModel

@{
    ViewBag.Title = "Detalles de materia prima";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoMateriaPrima)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CodigoMateriaPrima)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cantidad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrecioUnitario)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrecioUnitario)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrecioTotal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrecioTotal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayName("Codigo proveedor")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Proveedor.CodigoProveedor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TipoMateriaPrima.Tipo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoMateriaPrima.Tipo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UnidadMedida.Unidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UnidadMedida.Unidad)
                    </dd>

                </dl>
                <p>
                    @if (Roles.IsUserInRole("Administrador"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = Model.MateriaPrimaID }, new { @class = "btn btn-primary" })
                    }
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                    </p>
            </div>
        </div>
    </div>
</div>
