﻿@model Frontend.Models.PedidoViewModel

@{
    ViewBag.Title = "Eliminar pedido";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Borrar</h6>
            </div>
            <div class="card-body">
                <h3>¿Estas seguro que quieres borrar esto?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.NumeroPedido)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumeroPedido)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NumeroOrdenDeCompra)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumeroOrdenDeCompra)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cantidad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PrecioTotal)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrecioTotal)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Cliente.Identificacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cliente.Identificacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Producto.CodigoProducto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Producto.CodigoProducto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UnidadMedida.Unidad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UnidadMedida.Unidad)
                        </dd>
                        <!--
                                <dt>
                                    Html.DisplayNameFor(model => model.Usuarios.Identificacion)
                                </dt>

                                <dd>
                                    Html.DisplayFor(model => model.Usuarios.Identificacion)
                                </dd>
                        -->
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.PedidoID)
                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
