﻿@model Frontend.Models.PedidoViewModel

@{
    ViewBag.Title = "Detalles de pedido";
}


<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NumeroPedido)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NumeroPedido)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NumeroOrdenDeCompra)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NumeroOrdenDeCompra)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cantidad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrecioTotal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrecioTotal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cliente.Identificacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cliente.Identificacion)
                    </dd>

                    <dt>
                        @Html.DisplayName("Codigo producto")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Producto.CodigoProducto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UnidadMedida.Unidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UnidadMedida.Unidad)
                    </dd>
                    <dt>
                        @Html.DisplayName("Cantidad producido")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.produccionActual)
                    </dd>
                    <dt>
                        @Html.DisplayName("Cantidad entregado")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.entregadoActual)
                    </dd>
                    <dt>
                        @Html.DisplayName("Estado de pedido")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EstadoPedido.TipoEstado)
                    </dd>

                </dl>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.PedidoID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Cerrar pedido", "Cerrar", new { id = Model.PedidoID }, new { @class = "btn btn-primary" })
                </p>
            </div>

        </div>
    </div>
</div>
