﻿@model Frontend.Models.PedidoViewModel

@{
    ViewBag.Title = "Editar pedido";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Editar</h6>
            </div>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PedidoID)

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.NumeroPedido, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.NumeroPedido, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.NumeroPedido, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ClienteID, "Cliente", htmlAttributes: new { @class = "control-label col-md-6 requerido" })
                                @Html.DropDownListFor(model => model.ClienteID, new SelectList(Model.Clientes, "ClienteID", "NombreCompleto"), new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.ClienteID, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.NumeroOrdenDeCompra, htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.EditorFor(model => model.NumeroOrdenDeCompra, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NumeroOrdenDeCompra, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ProductoID, "Producto", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.DropDownListFor(model => model.ProductoID, new SelectList(Model.Productos, "ProductoID", "Nombre"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.UnidadMedidaID, "Unidad de Medida", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.DropDownListFor(model => model.UnidadMedidaID, new SelectList(Model.UnidadMedidas, "UnidadMedidaID", "Unidad"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UnidadMedidaID, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-5 requerido" })

                                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">


                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-5" })
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-5" })
                                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PrecioTotal, htmlAttributes: new { @class = "control-label col-md-5 requerido" })
                                @Html.EditorFor(model => model.PrecioTotal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PrecioTotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    

                    <div class="form-group">
                        <label style="color:red;">Los campos con * son requeridos</label>
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Editar" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}