﻿@model Frontend.Models.ProveedorViewModel

@{
    ViewBag.Title = "Detalles de Proveedor";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CodigoProveedor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CodigoProveedor)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Telefono)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Correo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Correo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>

                    </dl>
                    <p>

                        @if (Roles.IsUserInRole("Administrador"))
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = Model.ProveedorID }, new { @class = "btn btn-primary" })
                        }
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
