﻿@model Frontend.Models.UserViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SisPro">
    <meta name="author" content="">
    <title>SisPro - Login</title>
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Images/favicon.ico")" />
</head>
<body class="bg-gradient-primary">
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
    {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">¡Bienvenido!</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @placeholder = "Ingrese su nombre de usuario", @class = "form-control form-control-user" } })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "field-validation-error" })
                                            </div>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Contraseña", @class = "form-control form-control-user" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "field-validation-error" })
                                            </div>
                                            @if (TempData["TipoMensaje"] != null)
                                            {
                                                <div class="@TempData["TipoMensaje"]">
                                                    <strong>@Html.DisplayFor(model => model.LoginErrorMessage, "", new { @class = "field-validation-error" })</strong>
                                                </div>
                                            }



                                            <hr/>
                                            <input type="submit" name="name" value="Ingresar" class="btn btn-primary btn-user btn-block" />
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            @Html.ActionLink("¿Olvidó su nombre de usuario o contraseña?", "RecuperarContrasennia")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--   <script src="~/Scripts/jquery-1.10.2.min.js"></script>-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/js/sb-admin-2.min.js"></script>
    <script>
        $(function () {

            if (localStorage.chkbx && localStorage.chkbx != '') {
                $('#customCheck').attr('checked', 'checked');
                $('#UserName').val(localStorage.usrname);
            } else {
                $('#customCheck').removeAttr('checked');
                $('#UserName').val('');
            }

            $('#customCheck').click(function () {

                if ($('#customCheck').is(':checked')) {
                    // save username and password
                    localStorage.usrname = $('#UserName').val();
                    localStorage.chkbx = $('#customCheck').val();
                } else {
                    localStorage.usrname = '';
                    localStorage.chkbx = '';
                }
            });
        });

    </script>
</body>
</html>


