﻿@model Frontend.Models.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Forgot Password</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    @using (Html.BeginForm("EnviarCorreo", "Login", FormMethod.Post))
    {
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">¿Olvidó su contraseña?</h1>
                                            <p class="mb-4">
                                                Lo entendemos, pasan cosas. Simplemente ingrese su dirección de correo electrónico a continuación y
                                                le enviaremos su nueva contraseña.
                                            </p>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                @Html.Editor("Correo", new { htmlAttributes = new { @placeholder = "Ingrese su correo electrónico", @class = "form-control form-control-user" } })
                                                @Html.ValidationMessage("Correo", "", new { @class = "text-danger" })

                                            </div>

                                            <input type="submit" name="name" value="Reiniciar contraseña" class="btn btn-primary btn-user btn-block" />
                                        </form>
                                        <hr>

                                        <div class="text-center">
                                            <a class="small" href="login.html">
                                                ¿Ya tienes una cuenta? ¡Iniciar sesión!
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/js/sb-admin-2.min.js"></script>
    }
</body>

</html>

