﻿@model Frontend.Models.UsuarioViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Forgot Password</title>
    <style>
        .field-validation-error {
            color: red;
        }
    </style>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    @using (Html.BeginForm())
    {
        <div class="container">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.UsuarioID)
            @Html.HiddenFor(model => model.Identificacion)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.NombreCompleto)
            @Html.HiddenFor(model => model.Telefono)
            @Html.HiddenFor(model => model.Correo)
            @Html.HiddenFor(model => model.Direccion)


            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">¡Reestablecer contraseña!</h1>
                                            <p class="mb-4">
                                                Simplemente ingrese su nueva contraseña y su código de resstablecimiento de su correo electrónico
                                            </p>
                                        </div>
                                        <form class="user">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">

                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Contraseña", @class = "form-control form-control-user" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "field-validation-error" })
                                            </div>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.codigoVerificación, new { htmlAttributes = new { @placeholder = "Código de verificación", @class = "form-control form-control-user" } })
                                                @Html.ValidationMessageFor(model => model.codigoVerificación, "", new { @class = "field-validation-error" })
                                            </div>


                                            <input type="submit" name="name" value="Reestablecer contraseña" class="btn btn-primary btn-user btn-block" />
                                        </form>


                                        <hr>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
           
            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
        <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Scripts/js/sb-admin-2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
       <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</body>

</html>




