﻿@model Frontend.Models.VariablesMaquinaInyectoraViewModel

@{
    ViewBag.Title = "Detalles de variables de maquina inyectora";
}


<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CantidadPrimaPrincipal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CantidadPrimaPrincipal)
                    </dd>
                    @if (Model != null && Model.CantidadPrimaSecundaria != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.CantidadPrimaSecundaria)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CantidadPrimaSecundaria)
                        </dd>
                    }
                    @if (Model != null && Model.CantidadPrimaTerciaria != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.CantidadPrimaTerciaria)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CantidadPrimaTerciaria)
                        </dd>
                    }
                <dt>
                    @Html.DisplayName("Codigo maquina")
                </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Maquina.CodigoMaquina)
                    </dd>

                    <dt>
                        @Html.DisplayName("Codigo materia prima")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MateriaPrima.CodigoMateriaPrima)
                    </dd>
                    @if (Model != null && Model.MateriaPrima1 != null)
                    {
                <dt>
                    @Html.DisplayName("Codigo materia prima")
                </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MateriaPrima1.CodigoMateriaPrima)
                        </dd>
                    }
                    @if (Model != null && Model.MateriaPrima2 != null)
                    {
                <dt>
                    @Html.DisplayName("Codigo materia prima")
                </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MateriaPrima2.CodigoMateriaPrima)
                        </dd>
                    }
                <dt>
                    @Html.DisplayName("Codigo producto")
                </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Producto.CodigoProducto)
                        </dd>

                    </dl>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.VariablesMaquinaInyectoraID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>
