﻿@model Frontend.Models.VariablesMaquinaInyectoraViewModel

@{
    ViewBag.Title = "Editar variables de maquina inyectora";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Editar</h6>
            </div>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.VariablesMaquinaInyectoraID)


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.MaquinaID, "Maquina", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.DropDownListFor(model => model.MaquinaID, new SelectList(Model.Maquinas, "MaquinaID", "Nombre"), new { @class = "form-control",@disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.MaquinaID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ProductoID, "Producto", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.DropDownListFor(model => model.ProductoID, new SelectList(Model.Productos, "ProductoID", "Nombre"), "--Seleccione--", new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.MateriaPrimaPrincipalID, "Materia Prima Principal", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.DropDownListFor(model => model.MateriaPrimaPrincipalID, new SelectList(Model.MateriaPrimas, "MateriaPrimaID", "Nombre"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MateriaPrimaPrincipalID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CantidadPrimaPrincipal, htmlAttributes: new { @class = "control-label col-md-10 requerido" })

                                @Html.EditorFor(model => model.CantidadPrimaPrincipal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CantidadPrimaPrincipal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.MateriaPrimaSecundariaID, "Materia Prima Secundaria", htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.DropDownListFor(model => model.MateriaPrimaSecundariaID, new SelectList(Model.MateriaPrimas, "MateriaPrimaID", "Nombre"), "--Seleccione--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MateriaPrimaSecundariaID, "", new { @class = "text-danger" })



                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CantidadPrimaSecundaria, htmlAttributes: new { @class = "control-label col-md-10" })

                                @Html.EditorFor(model => model.CantidadPrimaSecundaria, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CantidadPrimaSecundaria, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.MateriaPrimaTerciariaID, "Materia Prima Terciaria", htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.DropDownListFor(model => model.MateriaPrimaTerciariaID, new SelectList(Model.MateriaPrimas, "MateriaPrimaID", "Nombre"), "--Seleccione--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MateriaPrimaTerciariaID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CantidadPrimaTerciaria, htmlAttributes: new { @class = "control-label col-md-10" })

                                @Html.EditorFor(model => model.CantidadPrimaTerciaria, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CantidadPrimaTerciaria, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label style="color:red;">Los campos con * son requeridos</label>
                        <div class="col-md-offset-2 col-md-10">
                            @Html.HiddenFor(model => model.MaquinaID)
                            @Html.HiddenFor(model => model.ProductoID)
                            <input type="submit" value="Editar" class="btn btn-primary" />

                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                    
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}