﻿@model IEnumerable<Frontend.Models.VariablesMaquinaInyectoraViewModel>

@{
    ViewBag.Title = "Lista de variables de maquina inyectora";
}

@if (ViewBag.Message != null)
{
    <script>
        window.onload = function ()
        {
            var text = "@ViewBag.Message";
            if (text.charAt(text.length - 1) == 1) {
                swal({
                    title: "¡" + text.slice(0, -1) + "correctamente!",
                    icon: "success",
                    button: "OK",
                });

            }
            else {
                swal({
                    title: "¡" + text + "!",
                    icon: "error",
                    button: "OK",
                });

            }
        };

    </script>

}

<div class="row">
    <div class="col-lg">
        <div class="card shadow" style="padding:1%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista variables de máquina inyectora</h6>
            </div>
            <p class="p-3">
                @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
            </p>
            @if (TempData["TipoMensaje"] != null)
            {
                <div class="@TempData["TipoMensaje"]">
                    <strong>@TempData["Mensaje"]</strong>
                </div>
            }
            <table id="listadatatable" class="table compact">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Codigo maquina")
                        </th>
                        <th>
                            @Html.DisplayName("Codigo materia prima")
                        </th>
                        <th>
                            @Html.DisplayName("Codigo materia prima")
                        </th>
                        <th>
                            @Html.DisplayName("Codigo materia prima")
                        </th>
                        <th>
                            @Html.DisplayName("Codigo producto")
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Maquina.CodigoMaquina)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MateriaPrima.CodigoMateriaPrima)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MateriaPrima1.CodigoMateriaPrima)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MateriaPrima2.CodigoMateriaPrima)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.CodigoProducto)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit",  new { id = item.VariablesMaquinaInyectoraID })" class="btn btn-success btn-circle">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="@Url.Action("Details",  new { id = item.VariablesMaquinaInyectoraID })" class="btn btn-info btn-circle">
                                    <i class="fas fa-info-circle"></i>
                                </a>

                                <a href="@Url.Action("Delete",  new { id = item.VariablesMaquinaInyectoraID })" class="btn btn-danger btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>