﻿@model Frontend.Models.ProductosViewModel

@{
    ViewBag.Title = "Eliminar producto";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Borrar</h6>
            </div>
            <div class="card-body">
                <h3>¿Estas seguro que quieres borrar esto?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CodigoProducto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CodigoProducto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                        @if (Model.Imagen != null)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Imagen)
                            </dt>

                            <dd>
                                <img src="@Url.Content(Model.Imagen)" width="250" height="250" />
                            </dd>
                        }

                        <dt>
                            @Html.DisplayNameFor(model => model.TipoProducto.Tipo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TipoProducto.Tipo)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ProductoID)
                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


