﻿@model Frontend.Models.ProductosViewModel

@{
    ViewBag.Title = "Detalles de producto";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CodigoProducto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CodigoProducto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TipoProducto.Tipo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TipoProducto.Tipo)
                        </dd>
                        @if (Model.Imagen != null)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Imagen)
                            </dt>

                            <dd>
                                <img src="@Url.Content(Model.Imagen)" width="250" height="250"/>
                            </dd>
                        }
                    </dl>
                    <p>
                        @if (Roles.IsUserInRole("Administrador"))
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = Model.ProductoID }, new { @class = "btn btn-primary" })
                        }
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>

