﻿@model IEnumerable<Frontend.Models.ProduccionViewModel>

@{
    ViewBag.Title = "Reporte de produccion";
}
@if (ViewBag.Message != null)
{
    <script>
        window.onload = function ()
        {
            var text = "@ViewBag.Message";
            if (text.charAt(text.length - 1) == 1) {
                swal({
                    title: "¡" + text.slice(0, -1) + "correctamente!",
                    icon: "success",
                    button: "OK",
                });

            }
            else {
                swal({
                    title: "¡" + text + "!",
                    icon: "error",
                    button: "OK",
                });

            }

        };

    </script>

}

<div class="row">
    <div class="col-lg">
        <div class="card shadow" style="padding:1%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
            </div>
            @if (TempData["TipoMensaje"] != null)
            {
                <div class="@TempData["TipoMensaje"]">
                    <strong>@TempData["Mensaje"]</strong>
                </div>
            }
            <table id="listadatatable" class="table compact">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Numero pedido")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaFin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HorasTrabajadas)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CantidadMerma)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CantidadProduccionTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CantidadPaquetesCajas)
                        </th>
                    </tr>
                </thead>
                <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pedido.NumeroPedido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HorasTrabajadas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadMerma)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadProduccionTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadPaquetesCajas)
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
