﻿@model Frontend.Models.MaquinasViewModel

@{
    ViewBag.Title = "Borrar Maquina";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Borrar</h6>
            </div>
            <div class="card-body">
                <h3>¿Estas seguro que quieres borrar esto?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CodigoMaquina)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CodigoMaquina)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ProduccionHora)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProduccionHora)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TipoMaquina.Tipo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TipoMaquina.Tipo)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.MaquinaID)
                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

