﻿@model Frontend.Models.MaquinasViewModel

@{
    ViewBag.Title = "Detalles de Maquina";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoMaquina)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CodigoMaquina)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProduccionHora)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProduccionHora)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TipoMaquina.Tipo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoMaquina.Tipo)
                    </dd>

                    </dl>
                
                <p>
                    @if (Roles.IsUserInRole("Administrador"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = Model.MaquinaID }, new { @class = "btn btn-primary" })
                    }
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                    </p>
            </div>
        </div>
    </div>
</div>

