﻿@model IEnumerable<Frontend.Models.MaquinasViewModel>

@{
    ViewBag.Title = "Lista de Maquinas";
}

@if (ViewBag.Message != null)
{
    <script>
        window.onload = function ()
        {
            var text = "@ViewBag.Message";
           
           
            if (text.charAt(text.length - 1) == 1)
            {
                swal({
                    title: "¡Registro agregado correctamente!",
                    text: text.slice(0, -1),
                      icon: "success",
                      button: "OK",
                    });

            }
            else
            {
                swal({
                    title: "¡No se ha podido agregar el registro!",
                    text: text,
                      icon: "error",
                      button: "OK",
                    });

                if (text.charAt(text.length - 1) == 1) {
                    swal({
                        title: "¡" + text.slice(0, -1) + "correctamente!",
                        icon: "success",
                        button: "OK",
                    });

                }
                else {
                    swal({
                        title: "¡" + text + "!",
                        icon: "error",
                        button: "OK",
                    });

                }

        };

    </script>

}


<div class="row">
    <div class="col-lg">
        <div class="card shadow" style="padding:1%">

            <div class="card-header py-3">

                <div class="row">
                    <div class="col">
                        <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                    </div>
                    @if (Roles.IsUserInRole("Administrador"))
                    {
                        <div class="col-md-auto">
                            @Html.ActionLink("Crear", "Create", null, new { @class = "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" })
                        </div>
                        <div class="col col-lg-2">
                            @Html.ActionLink("Generar reporte", "Reporte", null, new { @class = "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" })

                        </div>
                    }
                    </div>

            </div>
            <br>
            @if (TempData["TipoMensaje"] != null)
            {
                <div class="@TempData["TipoMensaje"]">
                    <strong>@TempData["Mensaje"]</strong>
                </div>
            }
            <table id="listadatatable" class="table compact">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CodigoMaquina)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoMaquina.Tipo)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoMaquina)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoMaquina.Tipo)
                            </td>
                            <td>
                                @if (Roles.IsUserInRole("Administrador"))
                                {
                                    <a href="@Url.Action("Edit", new { id = item.MaquinaID })" class="btn btn-success btn-circle">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                }
                                <a href="@Url.Action("Details",  new { id = item.MaquinaID })" class="btn btn-info btn-circle">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                @if (Roles.IsUserInRole("Administrador"))
                                {
                                    <a href="@Url.Action("Delete", new { id = item.MaquinaID })" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                }
                                </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

