﻿@model Frontend.Models.MermaPorTurnoViewModel

@{
    ViewBag.Title = "Reportar merma";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Crear</h6>
            </div>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.AperturaCierreID, "Apertura de Cierre", htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.DropDownListFor(model => model.AperturaCierreID, new SelectList(Model.AperturaCierresViewModel, "AperturaCierreID", "Descripcion"), "--Seleccione--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AperturaCierreID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.TipoMermaID, "Tipo de Merma", htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.DropDownListFor(model => model.TipoMermaID, new SelectList(Model.TipoMermas, "TipoMermaID", "Tipo"), "--Seleccione--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TipoMermaID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" id="btnCrear" value="Crear" class="btn btn-primary" />
                                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

            </div>
        </div>
    </div>
</div>

