﻿@model Frontend.Models.MermaPorTurnoViewModel

@{
    ViewBag.Title = "Detalles de Reporte de Merma";
}

<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cantidad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AperturaCierre.Turno)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AperturaCierre.Turno)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TipoMerma.Tipo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoMerma.Tipo)
                    </dd>

                </dl>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.MermaPorTurnoID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>
