﻿@model IEnumerable<Frontend.Models.MermaPorTurnoViewModel>

@{
    ViewBag.Title = "Lista de reportes de Merma";
}
@if (ViewBag.Message != null)
{
    <script>
        window.onload = function ()
        {
            var text = "@ViewBag.Message";
            if (text.charAt(text.length - 1) == 1) {
                swal({
                    title: "¡" + text.slice(0, -1) + "correctamente!",
                    icon: "success",
                    button: "OK",
                });

            }
            else {
                swal({
                    title: "¡" + text + "!",
                    icon: "error",
                    button: "OK",
                });

            }

        };

    </script>

}

<div class="row">
    <div class="col-lg">
        <div class="card shadow" style="padding:1%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
            </div>
            <p class="p-3">
                @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
            </p>
            @if (TempData["TipoMensaje"] != null)
            {
                <div class="@TempData["TipoMensaje"]">
                    <strong>@TempData["Mensaje"]</strong>
                </div>
            }
        <table  id="listadatatable" class="table compact">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AperturaCierreViewModel.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoMerma.Tipo)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AperturaCierreViewModel.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMerma.Tipo)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit",  new { id = item.MermaPorTurnoID})" class="btn btn-success btn-circle">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a href="@Url.Action("Details", new { id = item.MermaPorTurnoID })" class="btn btn-info btn-circle">
                                <i class="fas fa-info-circle"></i>
                            </a>

                            <a href="@Url.Action("Delete",  new { id = item.MermaPorTurnoID})" class="btn btn-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>