﻿@{
    ViewBag.Title = "Dashboard";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
   
</div>

<!-- Content Row -->
<div class="row">

    @if (TempData["TipoMensaje"] != null)
    {
        <div class="@TempData["TipoMensaje"]">
            <strong>@TempData["Mensaje"]</strong>
        </div>
    }

   
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-6">
        @Html.Action("_GraficoMensualProduccion", "GraficoLineasProduccion")

    </div>

    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg- 6">
        @Html.Action("_GraficoDona", "Graficos")
    </div>
</div>



<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-6">
        @Html.Action("_GraficoParettoMerma", "GraficoParettoMerma")

    </div>

    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg- 6">
        
    </div>
</div>

