﻿@model Frontend.Models.FichaTecnicaTapaViewModel

@{
    ViewBag.Title = "Crear ficha tecnica tapa";
}


<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Crear</h6>
            </div>
            <div class="card-body">

                @using (Html.BeginForm("Create", "FichaTecnicaTapa", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ProductoID, "Producto", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.DropDownListFor(model => model.ProductoID, new SelectList(Model.Productos, "ProductoID", "Nombre"), "--Seleccione--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.PesoPieza, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.PesoPieza, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PesoPieza, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Altura, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.Altura, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DiametroInterno, htmlAttributes: new { @class = "control-label col-md-6 requerido" })
                                    @Html.EditorFor(model => model.DiametroInterno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiametroInterno, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DiametroExternoSelloOliva, htmlAttributes: new { @class = "control-label col-md-10 requerido" })

                                    @Html.EditorFor(model => model.DiametroExternoSelloOliva, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiametroExternoSelloOliva, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.AlturaSelloOliva, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.AlturaSelloOliva, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AlturaSelloOliva, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DiametroInternoBandaSeguridad, htmlAttributes: new { @class = "control-label col-md-10 requerido" })
                                    @Html.EditorFor(model => model.DiametroInternoBandaSeguridad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiametroInternoBandaSeguridad, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.EspesorPanel, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.EspesorPanel, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EspesorPanel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.NumeroEstrias, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.NumeroEstrias, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumeroEstrias, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.TorqueCierreRecomendado, htmlAttributes: new { @class = "control-label col-md-10 requerido" })

                                    @Html.EditorFor(model => model.TorqueCierreRecomendado, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TorqueCierreRecomendado, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.TorqueApertura, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.TorqueApertura, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TorqueApertura, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Tolerancia, htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.EditorFor(model => model.Tolerancia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Tolerancia, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-6" })

                                    <input type="file" name="ArchivoImagen" class="form-control-file" accept="image/*" />
                                    @Html.ValidationMessageFor(model => model.ArchivoImagen, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <label style="color:red;">Los campos con * son requeridos</label>
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary" />
                                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>
