﻿@model Frontend.Models.FichaTecnicaTapaViewModel

@{
    ViewBag.Title = "Detalles de ficha tecnica tapa";
}


<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.PesoPieza)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PesoPieza)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Altura)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Altura)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DiametroInterno)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiametroInterno)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DiametroExternoSelloOliva)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiametroExternoSelloOliva)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AlturaSelloOliva)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AlturaSelloOliva)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DiametroInternoBandaSeguridad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiametroInternoBandaSeguridad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EspesorPanel)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EspesorPanel)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NumeroEstrias)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NumeroEstrias)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TorqueCierreRecomendado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TorqueCierreRecomendado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TorqueApertura)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TorqueApertura)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tolerancia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tolerancia)
                    </dd>

                    <dt>
                        @Html.DisplayName("Codigo producto")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Producto.CodigoProducto)
                    </dd>

                    @if (Model.Imagen != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Imagen)
                        </dt>

                        <dd>
                            <img src="@Url.Content(Model.Imagen)" width="250" height="250" />
                        </dd>
                    }
                </dl>
                <p>
                    @if (Roles.IsUserInRole("Administrador"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = Model.FichaTecnicaTapaID }, new { @class = "btn btn-primary" })
                    }
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                    </p>
            </div>
           
        </div>
    </div>
</div>
