﻿@model Frontend.Models.VariablesMaquinaSopladoraViewModel

@{
    ViewBag.Title = "Eliminar variable de maquina sopladora";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Borrar</h6>
            </div>
            <div class="card-body">
                <h3>¿Estas seguro que quieres borrar esto?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.RetardoPresoplado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RetardoPresoplado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RetardoSoplado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RetardoSoplado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TiempoPresoplado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TiempoPresoplado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TiempoRecuperacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TiempoRecuperacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TiempoSoplado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TiempoSoplado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TiempoEscape)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TiempoEscape)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TiempoParoCadena)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TiempoParoCadena)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TiempoSalidaPinzaPreforma)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TiempoSalidaPinzaPreforma)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FrecuenciaVentilador)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FrecuenciaVentilador)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PresionEstirado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PresionEstirado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gancho)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gancho)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Relay)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Relay)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AnillosTornelas)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AnillosTornelas)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Notas)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Notas)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CantidadZonas)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CantidadZonas)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CantidadBancos)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CantidadBancos)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PosicionBanco1Zona1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PosicionBanco1Zona1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PosicionBanco1Zona2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PosicionBanco1Zona2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PosicionBanco1Zona3)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PosicionBanco1Zona3)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PosicionBanco1Zona4)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PosicionBanco1Zona4)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PosicionBanco2Zona1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PosicionBanco2Zona1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PosicionBanco2Zona2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PosicionBanco2Zona2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PosicionBanco2Zona3)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PosicionBanco2Zona3)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PosicionBanco2Zona4)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PosicionBanco2Zona4)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorBanco1Zona1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorBanco1Zona1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorBanco1Zona2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorBanco1Zona2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorBanco1Zona3)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorBanco1Zona3)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorBanco1Zona4)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorBanco1Zona4)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorBanco2Zona1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorBanco2Zona1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorBanco2Zona2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorBanco2Zona2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorBanco2Zona3)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorBanco2Zona3)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorBanco2Zona4)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorBanco2Zona4)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Maquina.CodigoMaquina)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Maquina.CodigoMaquina)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MateriaPrima.CodigoMateriaPrima)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MateriaPrima.CodigoMateriaPrima)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Producto.CodigoProducto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Producto.CodigoProducto)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.VariablesMaquinaSopladoraID)
                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

