﻿@model Frontend.Models.VariablesMaquinaSopladoraViewModel

@{
    ViewBag.Title = "Detalles de variables de maquina sopladora";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RetardoPresoplado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RetardoPresoplado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RetardoSoplado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RetardoSoplado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TiempoPresoplado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TiempoPresoplado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TiempoRecuperacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TiempoRecuperacion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TiempoSoplado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TiempoSoplado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TiempoEscape)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TiempoEscape)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TiempoParoCadena)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TiempoParoCadena)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TiempoSalidaPinzaPreforma)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TiempoSalidaPinzaPreforma)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FrecuenciaVentilador)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FrecuenciaVentilador)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PresionEstirado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PresionEstirado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gancho)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GanchoMensaje)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Relay)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RelayMensaje)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AnillosTornelas)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnillosTornelasMensaje)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notas)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Notas)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CantidadZonas)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CantidadZonas)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CantidadBancos)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CantidadBancos)
                    </dd>



                    <dt>
                        @Html.DisplayName("Codigo maquina")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Maquina.CodigoMaquina)
                    </dd>

                    <dt>
                        @Html.DisplayName("Codigo materia prima")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MateriaPrima.CodigoMateriaPrima)
                    </dd>

                    <dt>
                        @Html.DisplayName("Codigo producto")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Producto.CodigoProducto)
                    </dd>
                    <div class="form-group">
                        <label class="control-label col-md-5">Posiciones</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Zona Uno</th>
                                    <th scope="col">Zona Dos</th>
                                    <th scope="col">Zona Tres</th>
                                    <th scope="col">Zona Cuatro</th>
                                </tr>
                            </thead>

                            <tr>
                                <th scope="col">Banco Uno</th>
                                <td>@Html.DisplayFor(model => model.PosicionBanco1Zona1)</td>
                                <td>@Html.DisplayFor(model => model.PosicionBanco1Zona2)</td>
                                <td>@Html.DisplayFor(model => model.PosicionBanco1Zona3)</td>
                                <td>@Html.DisplayFor(model => model.PosicionBanco1Zona4)</td>
                            </tr>
                            <tr>
                                <th scope="col">Banco Dos</th>
                                <td>@Html.DisplayFor(model => model.PosicionBanco2Zona1)</td>
                                <td>@Html.DisplayFor(model => model.PosicionBanco2Zona2)</td>
                                <td>@Html.DisplayFor(model => model.PosicionBanco2Zona3)</td>
                                <td>@Html.DisplayFor(model => model.PosicionBanco2Zona4)</td>
                            </tr>
                        </table>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5">Valores</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Zona Uno</th>
                                    <th scope="col">Zona Dos</th>
                                    <th scope="col">Zona Tres</th>
                                    <th scope="col">Zona Cuatro</th>
                                </tr>
                            </thead>

                            <tr>
                                <th scope="col">Banco Uno</th>
                                <td>@Html.DisplayFor(model => model.ValorBanco1Zona1)</td>
                                <td>@Html.DisplayFor(model => model.ValorBanco1Zona2)</td>
                                <td>@Html.DisplayFor(model => model.ValorBanco1Zona3)</td>
                                <td>@Html.DisplayFor(model => model.ValorBanco1Zona4)</td>
                            </tr>
                            <tr>
                                <th scope="col">Banco Dos</th>
                                <td>@Html.DisplayFor(model => model.ValorBanco2Zona1)</td>
                                <td>@Html.DisplayFor(model => model.ValorBanco2Zona2)</td>
                                <td>@Html.DisplayFor(model => model.ValorBanco2Zona3)</td>
                                <td>@Html.DisplayFor(model => model.ValorBanco2Zona4)</td>
                            </tr>
                        </table>

                    </div>
                </dl>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.VariablesMaquinaSopladoraID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>

        </div>
    </div>
</div>