﻿@model Frontend.Models.VariablesMaquinaSopladoraViewModel

@{
    ViewBag.Title = "Editar variables de maquina sopladora";
}
<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Editar</h6>
            </div>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.VariablesMaquinaSopladoraID)

                  

                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.MaquinaID, "Maquina", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.DropDownListFor(model => model.MaquinaID, new SelectList(Model.Maquinas, "MaquinaID", "Nombre"), new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.MaquinaID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ProductoID, "Producto", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.DropDownListFor(model => model.ProductoID, new SelectList(Model.Productos, "ProductoID", "Nombre"), new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.MateriaPrimaID, "Materia Prima", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.DropDownListFor(model => model.MateriaPrimaID, new SelectList(Model.MateriaPrimas, "MateriaPrimaID", "Nombre"), "--Seleccione--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MateriaPrimaID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.RetardoPresoplado, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.RetardoPresoplado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RetardoPresoplado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.RetardoSoplado, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.RetardoSoplado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RetardoSoplado, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.TiempoPresoplado, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.TiempoPresoplado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoPresoplado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.TiempoRecuperacion, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.TiempoRecuperacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoRecuperacion, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.TiempoSoplado, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.TiempoSoplado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoSoplado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.TiempoEscape, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.TiempoEscape, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoEscape, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.TiempoParoCadena, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.TiempoParoCadena, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoParoCadena, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.TiempoSalidaPinzaPreforma, htmlAttributes: new { @class = "control-label col-md-8 requerido" })

                                @Html.EditorFor(model => model.TiempoSalidaPinzaPreforma, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TiempoSalidaPinzaPreforma, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.FrecuenciaVentilador, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.FrecuenciaVentilador, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FrecuenciaVentilador, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PresionEstirado, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.PresionEstirado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PresionEstirado, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Gancho, htmlAttributes: new { @class = "control-label col-md-6" })

                                <div class="checkbox">
                                    @Html.DropDownListFor(model => model.Gancho, new SelectList(new[] { new { Value = "true", Text = "Aplica" }, new { Value = "false", Text = "No Aplica" }, }, "Value", "Text", Model.Gancho), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Gancho, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Relay, htmlAttributes: new { @class = "control-label col-md-6" })

                                <div class="checkbox">
                                    @Html.DropDownListFor(model => model.Relay, new SelectList(new[] { new { Value = "true", Text = "Aplica" }, new { Value = "false", Text = "No Aplica" }, }, "Value", "Text", Model.Relay), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Relay, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.AnillosTornelas, htmlAttributes: new { @class = "control-label col-md-6" })

                                <div class="checkbox">
                                    @Html.DropDownListFor(model => model.AnillosTornelas, new SelectList(new[] { new { Value = "true", Text = "Aplica" }, new { Value = "false", Text = "No Aplica" }, }, "Value", "Text", Model.AnillosTornelas), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AnillosTornelas, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Notas, htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.EditorFor(model => model.Notas, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Notas, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CantidadZonas, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.CantidadZonas, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CantidadZonas, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CantidadBancos, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                @Html.EditorFor(model => model.CantidadBancos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CantidadBancos, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5">Posiciones</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Zona Uno</th>
                                    <th scope="col">Zona Dos</th>
                                    <th scope="col">Zona Tres</th>
                                    <th scope="col">Zona Cuatro</th>
                                </tr>
                            </thead>

                            <tr>
                                <th scope="col">Banco Uno</th>
                                <td>@Html.EditorFor(model => model.PosicionBanco1Zona1, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model.PosicionBanco1Zona2, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model.PosicionBanco1Zona3, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model.PosicionBanco1Zona4, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                            <tr>
                                <th scope="col">Banco Dos</th>
                                <td>@Html.EditorFor(model => model.PosicionBanco2Zona1, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model.PosicionBanco2Zona2, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model.PosicionBanco2Zona3, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model.PosicionBanco2Zona4, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                        </table>
                        @Html.ValidationMessageFor(model => model.PosicionBanco1Zona1, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.PosicionBanco1Zona2, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.PosicionBanco1Zona3, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.PosicionBanco1Zona4, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.PosicionBanco2Zona1, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.PosicionBanco2Zona2, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.PosicionBanco2Zona3, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.PosicionBanco2Zona4, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5">Valores</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Zona Uno</th>
                                    <th scope="col">Zona Dos</th>
                                    <th scope="col">Zona Tres</th>
                                    <th scope="col">Zona Cuatro</th>
                                </tr>
                            </thead>

                            <tr>
                                <th scope="col">Banco Uno</th>
                                <td> @Html.EditorFor(model => model.ValorBanco1Zona1, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td> @Html.EditorFor(model => model.ValorBanco1Zona2, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td> @Html.EditorFor(model => model.ValorBanco1Zona3, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td> @Html.EditorFor(model => model.ValorBanco1Zona4, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                            <tr>
                                <th scope="col">Banco Dos</th>
                                <td> @Html.EditorFor(model => model.ValorBanco2Zona1, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td> @Html.EditorFor(model => model.ValorBanco2Zona2, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td> @Html.EditorFor(model => model.ValorBanco2Zona3, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td> @Html.EditorFor(model => model.ValorBanco2Zona4, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                        </table>
                        @Html.ValidationMessageFor(model => model.ValorBanco1Zona1, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ValorBanco1Zona2, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ValorBanco1Zona3, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ValorBanco1Zona4, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ValorBanco2Zona1, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ValorBanco2Zona2, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ValorBanco2Zona3, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ValorBanco2Zona4, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label style="color:red;">Los campos con * son requeridos</label>
                        <div class="col-md-offset-2 col-md-10">
                            @Html.HiddenFor(model => model.MaquinaID)
                            @Html.HiddenFor(model => model.ProductoID)
                            <input type="submit" value="Editar" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
