﻿@model Frontend.Models.FichaTecnicaBotellaViewModel

@{
    ViewBag.Title = "Crear ficha tecnica botella";
}


<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Crear</h6>
            </div>
            <div class="card-body">

                @using (Html.BeginForm("Create", "FichaTecnicaBotella", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ProductoID, "Producto", htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.DropDownListFor(model => model.ProductoID, new SelectList(Model.Productos, "ProductoID", "Nombre"), "--Seleccione--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Altura, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.Altura, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                        </div>

                      

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DiametroMayor, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.DiametroMayor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiametroMayor, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DiametroMenor, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.DiametroMenor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiametroMenor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DiametroCuello, htmlAttributes: new { @class = "control-label col-md-6 requerido" })

                                    @Html.EditorFor(model => model.DiametroCuello, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiametroCuello, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.CapacidadVolumetrica, htmlAttributes: new { @class = "control-label col-md-8 requerido" })
                                    @Html.EditorFor(model => model.CapacidadVolumetrica, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CapacidadVolumetrica, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ImagenFondo, htmlAttributes: new { @class = "control-label col-md-6" })

                                    <input type="file" name="ArchivoImagenFondo" class="form-control-file" accept="image/*" />
                                    @Html.ValidationMessageFor(model => model.ArchivoImagenFondo, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ImagenCuerpo, htmlAttributes: new { @class = "control-label col-md-6" })

                                    <input type="file" name="ArchivoImagenCuerpo" class="form-control-file" accept="image/*" />
                                    @Html.ValidationMessageFor(model => model.ArchivoImagenCuerpo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Tolerancia, htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.EditorFor(model => model.Tolerancia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Tolerancia, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color:red;">Los campos con * son requeridos</label>
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary" />
                                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>
