﻿@model Frontend.Models.FichaTecnicaBotellaViewModel

@{
    ViewBag.Title = "Detalles de ficha tecnica botella";
}


<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Altura)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Altura)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DiametroMayor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiametroMayor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DiametroMenor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiametroMenor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DiametroCuello)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiametroCuello)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CapacidadVolumetrica)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CapacidadVolumetrica)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tolerancia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tolerancia)
                    </dd>

                    @if (Model.ImagenCuerpo != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.ImagenCuerpo)
                        </dt>

                        <dd>
                            <img src="@Url.Content(Model.ImagenCuerpo)" width="250" height="250" />
                        </dd>
                    }

                    @if (Model.ImagenFondo != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.ImagenFondo)
                        </dt>

                        <dd>
                            <img src="@Url.Content(Model.ImagenFondo)" width="250" height="250" />
                        </dd>
                    }

                    <dt>
                        @Html.DisplayName("Codigo producto")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Producto.CodigoProducto)
                    </dd>

                </dl>
                <p>
                    @if (Roles.IsUserInRole("Administrador"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = Model.FichaTecnicaBotellaID }, new { @class = "btn btn-primary" })
                    }
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                    </p>
            </div>
        </div>
    </div>
</div>