﻿@model Frontend.Models.UsuarioViewModel

@{
    ViewBag.Title = "Eliminar Usuario";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-lg">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Borrar</h6>
            </div>
            <div class="card-body">
                <h3>¿Estas seguro que quieres borrar esto?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Identificacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Identificacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NombreCompleto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NombreCompleto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Telefono)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Correo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Correo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.UsuarioID)
                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

